body {
    background-size: cover;
    background-image: url("sunahama.webp");
    background-attachment: fixed;
  }

.contair{
    text-align: center;
}

.form p{
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    font-style: italic;
    color: aliceblue;
    text-shadow: 1px 2px 3px #002900;
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-control{
    margin: 10px;
    width: 500px;
}

.submit-btn{
    margin-top: 20px;
    color: #fff;
    border-top: 4px solid #48ecc4;
    border-right: 4px solid #0a5f4a;
    border-bottom: 4px solid #0f745b;
    border-left: 4px solid #8cf9de;
    border-radius: 0;
    background: #11a37f;
    font-size: 20px;
}

.submit-btn:hover{
    color: #fff;
    border-top: 4px solid #0f745b;
    border-right: 4px solid #8cf9de;
    border-bottom: 4px solid #48ecc4;
    border-left: 4px solid #0a5f4a;
}

.under{

  height: 10px;
}

.gazou{
  text-align: center;
}

.sisa{
  width: 80%;
  margin: 0 auto;
}

.sisa img{
  width: 50%;
  height: 15vw;
  object-fit: cover;

}

.photo{
  margin: 10px;
}